* {
    margin: 0;
    padding: 0;
}

 body { 
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 400;
 }

.s1, .s2, .s3, .s4, .s5 {
    height: 100vh;
}

.s1 {
    display: grid;
    grid-template-areas:
        "topbar topbar"
        "navbar navbar"
        "h-left h-right"
        "footer footer";
    grid-template-rows: 1fr 3fr 19fr 1fr;
}

.topbar {
    background-color: #1F2637;
    grid-area: topbar;
    color: #FFF;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    background-color: #FFF;
    grid-area: navbar;
    display: grid;
    grid-template-areas: 
        "left logo right";
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar a {
    color: #333;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 2px solid #333;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.navbar-logo {
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: logo;
}

.navbar-logo h1 {
    font-size: 50px;
    color: #363e57;
    font-weight: 600;
}

.hero-header {
    font-family: 'Arial Black', sans-serif;
    color: #FFF;
    position: absolute;
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: -10px;
}

.hero-header-1 {
    top: 0;
    left: 150px;
}

.hero-header-2 {
    top: 370px;
    left: 0;
}

.hero-header-3 {
    top: 520px;
    left: 400px;
}

.hero-left {
    background-color: #1F2637;
    grid-area: h-left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-left-img {
    background: url("../images/blackpink/blackpink_guess_fw_2018_all_1.jpg") no-repeat;
    background-size: cover;
    background-position: -110px 0;
    height: 80%;
    width: 80%;
    box-shadow: 20px 20px #11141C;
}

.hero-right {
    background-color: #DBD9DA;
    grid-area: h-right;
    background: url("../images/blackpink/blackpink_guess_fw_2018_all_2.jpg");
    background-size: cover;
    background-position: -120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shop {
    position: absolute;
    font-size: 15px;
    border: none;
    letter-spacing: 2px;
    width: 25%;
    padding: 10px;
    top: 255px;
    color: #FFF;
    background-color: #1F2637; 
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 3px solid #FFF;
}

.s2 {
    background-color: #B8333B;
}

.s3 {
    background-color: #1D212F;
}

.s4 {
    background-color: #DBD9DA;
}

.s5 {
    background-color: #A7745B;
}